.home-container{
    max-width: 1300px;
    margin: 1rem auto;
}

.container .title {
    color: #FFFFFF;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
    cursor: pointer;
}
.container .title1 {
    color: #FFFFFF;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text {
    color: #2c0077;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    border-radius: 5px;
    width: 30%;
    color: #FFF;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
    transition: .4s;
}

.movies-container div:hover {
    transform: scale(1.05);
}

.movies-container div img {
    max-width: 100%;
    border-radius: 5px;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: #f7d354;
}

.movies-container div a {
    background-color: #2c0077;
    border: .5px solid #F7D354;
    padding: 1rem 0.5rem;
    border-radius: 4px;
    color: #FFFFFF;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
}

.movies-container div a:hover {
    background-color: #000000;
    border: .5px solid #2c0077;

}